body{
	background-color: #ddd;
}
.box01{
	width: 200px;
	height: 200px;
	background-color: red;
	float: left;
	margin: 20px;
}
.box02{
	width: 200px;
	height: 200px;
	background-color: cyan;
	float: left;
	margin: 20px;
}