body{
	font-family: 'Microsoft Yahei';
	color: #666;
	font-size: 12px;
}

.center_con{
	width: 600px;
	height: 400px;
	/*background-color: cyan;*/
	margin: 50px auto 0;
}

/* ----------幻灯片样式---------- */
.slide{
	width: 600px;
	height: 400px;
	position: relative;/* 父容器要设置定位，才能让子元素相对父容器定位 */
	overflow:hidden;
}
.slide .slide_pics{
	width: 600px;
	height: 400px;
	left:0;
	top:0;
	position:relative;
}
.slide .slide_pics li{
	width: 600px;
	height: 400px;
	left:0;
	top:0;
	position:absolute;
}

/* 左右翻页箭头样式 */
.prev,.next{
	width: 20px;
	height: 24px;
	position: absolute;/* 相对父容器进行绝对定位 */
	left:10px;
	top:188px;
	cursor: pointer;/* 鼠标指针成手形 */
	background: url(../images/icons.png) 0px -450px no-repeat;
}
.next{
	left: 570px;
	background: url(../images/icons.png) 0px -500px no-repeat;
}

/* 小圆点样式 */
.points{
	position: absolute;/* 块元素默认宽度为父宽度的100%，定位之后就变成行内块了，它不能继承父的宽度，如果没有设置宽高，就由内容决定，所以也必须给它一个宽度 */
	width: 100%;
	height: 11px;
	/*background-color: red;*/
	left: 0;
	bottom: 9px;
	text-align: center;/* 行内块的居中方式 */
	font-size: 0px;/* 去掉行内块间隙，它引起小圆点没有挨紧，并且向下超出高度范围 */
}
.points li{
	width: 11px;
	height: 11px;
	display: inline-block;
	background-color: #9f9f9f;
	margin: 0 5px;
	border-radius: 50%;/* 设置圆角，优雅降级，更好效果请升级浏览器，不兼容IE */
}
.points .active{
	background-color: #cecece;
}