/*=================商品列表页面=================*/
.filter-list{
	border: 1px solid #c0c0c0;
	padding-bottom: 2em;
}
.filter-list .checkbox-inline,
.filter-list .radio-inline{
	margin-left: 0px;
	margin-right: 10px;
}

.product_info a{
	text-decoration: none;
	margin-right: 10px;
	margin-bottom: 6px;
}
.product_info em{
	font-style: normal;
	display: block;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.product_info h4, .product_info em:hover{
	color: #e4393c;
}
.modify-border{
	border: 0px;
}
.modify-border:hover{
	box-shadow: #999 0px 0px 2px;
}

/*=================添加到购物车页面=================*/
.add_info{
	border-top: 2px solid #B1191A;
	padding-bottom: 10px;
}
.ftx-green{
	color: #71b247;
}
.ftx-green span{
	vertical-align: top;
}

.img_con{
	padding-left: 0px;
}
.img_con img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.also_buy{
	margin-top: 2em;
}
.p-list{
	padding: 0px;
	list-style: none;
}
.p-name{
	height: 54px;
	line-height: 18px;
	overflow: hidden;
	margin: 4px 0;
}
.p-name a{
	color: #333;
	text-decoration: none;
}
.p-name a:hover{
	color: #e4393c;
}
.p-list p{
	color: #d91f20;
	margin-bottom: 15px;
}
.p-list .btn-default:hover{
	border-color: #e4393c;
	background-color: #e4393c;
	color: #fff;
}
.best_seller_product{
	margin-top: 15px;
	margin-bottom: 15px;
}
.best_seller_img{
	padding: 0px;
}
.best_seller_img img{
	width: 100%;
	height: 100%;
	border: 1px solid #eee;
	object-fit: none;
}

/*=================购物车页面=================*/
.order_content{
	height: 50px;
	line-height: 50px;
	background-color: #f5f5f5;
}
.order_right{
	float: right;
	width: 30%;
}
.order_price em{
	font-style: normal;
	font-size: 20px;
	color: #e4393c;
	font-weight: bold;
}
.order_submit{
	border: 0px;
	background-color: #e54346;
	float: right;
	width: 45%;
	color: #fff;
	font-size: 18px;
}
.cart-main{
	border-bottom: 2px solid #c5c5c5;
}
.cart-item-list{
	padding: 10px 0px;
	border: 1px solid #f1f1f1;
}
.cart-item-list p{
	line-height: 20px;
}
.cart-item-list .form-control{
	float: none;
}
.cart-toolbar{
	margin: 20px 0px;
	border: 1px solid #f1f1f1;
	padding-right: 0px;
}
.p-img{
	width: 60%;
	border: 1px solid #f1f1f1;
	margin-left: 20px;
}

/*=================购物车页面=================*/
.best_seller{
	margin-top: 2em;
	margin-bottom: 2em;
}
.best_seller h3{
	width: 120px;
	text-align: center;
	color: #D9534F;
	border-bottom: 2px solid #D9534F;
	margin-top: 0px;
	padding: 5px 0px;
}

/*=================结算页面=================*/
.main-order{
	padding: 20px;
	border: 1px solid #f1f1f1;
}
.order_list{
	line-height: 50px;
}
.order_product{
	padding: 10px 0px;
}
.order_product img{
	width: 60%;
	border: 1px solid #f1f1f1;
	margin-left: 15px;
}
.order_pay{
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	margin: 20px 0px;
	padding: 0px;
}