<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<title>别克汇-登录</title>

		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
	</head>

	<body>
		<div class="header">
			<div class="container">
				<a href="index.html" class="logo"></a>
				<div class="logo-title">欢迎登录</div>
			</div>
		</div>
		<div class="tips-wrapper">
			<div class="tips-inner">
				<div class="cont-wrapper">
					<i class="icon-tips"></i>
					<p>依据《网络安全法》，为保障您的账户安全和正常使用，请尽快完成手机号验证！ 新版别克汇隐私权政策已上线，将更有利于保护您的个人隐私。</p>
				</div>
			</div>
		</div>
		<div class="jumbotron login_bg">
			<div class="container">
			<form action="" method="post" class="form login_form">
				 <div class="form-group">
					<label for="exampleInputEmail1">账户：</label>
					<input name="username" class="form-control" id="id_username" placeholder="账户">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">密码：</label>
					<input type="password" name="password" class="form-control" id="id_password" placeholder="密码">
				</div> 
				<button type="submit" class="btn btn-default center-block">登陆</button>
			</form>
			</div>
		</div>
		<div class="tail">
			<center>
				<p class="text-center">Copyright ©  2013-2015, All Rights Reserved版权所有 车享</p>
				<p>沪ICP备14000481号</p>
			</center>
		</div>
	</body>

</html>